h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-weight: 100;
}


.btn-default {
    border: 2px solid white;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 100;
    font-size: 13px;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    outline:none;
}

.btn-default:hover{
    background-color: #fff;
    color: #7d6587;
    border-color: #ffffff;
}

.btn-default:focus{

}

#searchBox{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    height: 40px;
    color: #ffffff;
}

.section {
    background-color: #fff;
    padding: 10px;

}

body {
    background-image: url("../images/background_darker.jpg");
}



.search{
    margin-top: 50px;
    
}

.page {
    margin-top: 200px;
}