

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-weight: 100;
}

input[type="text"] {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    height: 40px;
    color: #ffffff;
    margin-left: 0 auto;
    display: inline-block;
    outline: none;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-size: 20px;
    
}

input[type="text"]:focus{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.btn-default {
    border: 2px solid white;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 100;
    font-size: 18px;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    outline:none;
    height: 40px;
}

.btn-default:hover{
    background-color: #fff;
    color: #7d6587;
    border-color: #ffffff;
}

.btn-default:focus{
    border-color: #ffffff;
}

.form-group .btn-default {
    margin-top: 20px;
    display: inline-block;
}

.name {
    position: absolute;
    left: 20px;
    top: 0px;
    opacity: 0.6;
}

#searchBox{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    height: 40px;
    color: #ffffff;
    width: 60%;
    margin: 0 auto;
    display: inline-block;
}

#searchBox:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.section {
    background-color: #fff;
    padding: 10px;

}

body {
    background: url("../images/background_darker.jpg") no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    /*cursor:url('../images/cursor.png'), pointer;*/
}

.form-group {
    text-align: center;
}

.search{
    margin-top: 50px;
    
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {

    background-color: #fff;
}

.navigation .arrow{
    position: absolute;
    opacity: .4;
    transition: all .15s;
    background-image: url("../images/arrow.png");
    height: 150px;
    width: 60px;
    background-size: contain;
    top:290px;
}

.navigation .arrow:hover{
    opacity: 1;
    background-image: url("../images/arrow_shadow.png");
    cursor: pointer;
}

.arrow-right{
    right: 20px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

}

.arrow-left{
    left: 20px;
}

.hack {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: .6;
}

.hack img{
    height: 20px;
}


/*Sticky footer*/
.page{
 padding-top: 15%;
}


.page{
    /*height: 100%;*/
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 40px; /* .push must be the same height as .footer */
}

.footer {
    background-color: rgba(0, 0, 0, 0.4);
}

.footer p{
    padding-top: 10px;
    color: #ffffff;
    opacity: 0.6;
}

.autocomplete-suggestions:hover{
   /* cursor:url('../images/cursor_black.png'), default;*/
}

.loader-sm {
    animation: spin .70s cubic-bezier(.3,.62,.73,.4) infinite;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    right:35px;
    top: 3px;
}

.load-listener{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.section {
   /* cursor:url('../images/cursor_black.png'), default;*/
    margin: 20px auto 40px auto;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.85) ;
    -moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.85);
    box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.85);
}

.results-page .section h4 {
color: #000000;
}

.results-page .section h6 {
    color: #000000;
}

.map{
    height: 400px;
    width: 127%;
    background-color: rgba(0,0,0,.6);
    margin-left: -150px;
    background-image: url('../images/map_fake.png');
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.85) ;
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.85);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.85);
    margin-bottom: 30px;

}

.hotel-thumb{
    display: inline-block;
}
.hotel-name{
    display: inline-block;
    margin-top: 0;
}
.hotel-location{
    display: inline-block;
}
.hotel-description{
    color: #999;
}

.hotel-rating {

}

.hotel-rating i{
    color: #f1c40f;
}

.hotel-text-wrap{
    margin-left: -10px;
    margin-top: 2px;

}

.thumb-wrap {
    margin-right: -15px;
    margin-bottom: 10px;
}

.fancy-test{
    border-top: 2px solid white ;
    border-bottom: 2px solid white ;
    margin-bottom: 30px;

}

.nb-result{
    margin-top: 40px;
}

.bars h4{
    color: #000;
}
