*{
    cursor:url('../images/cursor_j.png'), pointer;
}

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-weight: 100;
}


.btn-default {
    border: 2px solid white;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 100;
    font-size: 18px;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    outline:none;
    height: 40px;
}

.btn-default:hover{
    background-color: #fff;
    color: #7d6587;
    border-color: #ffffff;
}

.btn-default:focus{

}

#searchBox{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    height: 40px;
    color: #ffffff;
}

#searchBox:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.section {
    background-color: #fff;
    padding: 10px;

}

body {
    background-image: url("../images/background_darker.jpg");
}



.search{
    margin-top: 50px;
    
}

.page {
    margin-top: 200px;
}