/*FONTS*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../../public/fonts/Roboto.ttf);
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../../public/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../../public/fonts/Oswald-Regular.ttf);
}

.raleway {
    font-family: "Raleway", Helvetica, Arial, sans-serif !important;
}

.roboto {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.oswald {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
}

/*END FONTS*/

/* BUTTONS*/
.btn-outline {
    border-radius: 0;
    background: transparent;
    border: solid 3px #FFF;
    color: #FFF;
    text-transform: uppercase;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.btn-outline:hover {
    background: #FFF;
    color: #000;
}

/* END BUTTONS */

/*UTIL*/

/* END UTIL*/
/*BACKGROUND IMAGES*/
.background-tokyo {
    background: url('../images/background.jpg');

}

/*END BACKGROUND IMAGES*/

/*LOADING ANIMATION*/
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-animation: all .35s linear;
    -o-animation: all .35s linear;
    animation: all .35s linear;
}

.loader {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin linear 3s infinite;
    -o-animation: spin linear 3s infinite;
    animation: spin linear 3s infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin linear 1.5s infinite;
    -o-animation: spin linear 1.5s infinite;
    animation: spin linear 1.5s infinite;
}

.loader-overlay {
    position: fixed;
    z-index: 1000;
    background: #333;
    top: 0;
    width: 100%;
    height: 100%;

}

.loaded .loader {
    opacity: 0;
    -webkit-animation: all .3s .3s ease-in-out;
    -o-animation: all .3s .3s ease-in-out;
    animation: all .3s .3s ease-in-out;

}

.loaded .loader-wrapper {
    visibility: hidden;
    opacity: 0;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

/*END LOADING ANIMATION*/

/*DATEPICKER*/
.datepicker.dropdown-menu {
    border-radius: 0;
    font-weight: 400;
    opacity: .9;
}

.datepicker.dropdown-menu table tr td.active,
.datepicker.dropdown-menu table tr td.active:hover,
.datepicker.dropdown-menu table tr td span.active,
.datepicker.dropdown-menu table tr td span.active:hover {
    background: #2c3e50;

}

.datepicker.dropdown-menu table tr td,
.datepicker.dropdown-menu table tr th,
.datepicker.dropdown-menu table tr td span {
    border-radius: 0;
}

/*END DATEPICKER*/

/*AUTOCOMPLETE*/

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    font-variant:small-caps;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

input {
    font-size: 28px;
    padding: 10px;
    border: 1px solid #CCC;
    display: block;
    margin: 20px 0;
}

/*END AUTOCOMPLETE*/

/*RESULTS*/
.box-shadow {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.24);

}

/*END RESULTS*/
/*SELECT BOX*/
select.select-activity {
    background: transparent;
    width: 40%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    border: solid 2px #FFF;
    color:#FFF;
    font-variant: small-caps;
    font-size: 20px;
    overflow: hidden;
}
select.select-activity option{
    color:#000;
}
select.select-activity:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75), inset 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
select.select-activity option{
    background: transparent;
}


/*END SELECT BOX*/

/*ACTIVITIES*/

.activity-div{
    background:#FFF;
    color:#000;
    width:300px;
    height:300px;
    margin:10px 20px;
    padding:8px;
}
.activity-div img.activity-img{
    width:100%;
    height:100%;
}
.activity-div h4{
    color:#000;
}
/*END ACTIVITIES*/